<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer" />

    <add name="LocalSqlServer" connectionString="Integrated Security=SSPI;Data Source=CNIT255-10\SQLexpress;Initial Catalog=aspnetdb;" providerName="System.Data.SqlClient" />
    <add name="ProductsConnectionString" connectionString="Data Source=CNIT255-10\SQLexpress;Initial Catalog=master;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <authorization>
      <allow roles="admin" />
    </authorization>
    <roleManager enabled="true" />
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <siteMap>
      <providers>
        <add name="ShoppingSiteMap" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider" siteMapFile="/FinalProj/ShoppingMap.sitemap" />
        <add name="MaintSiteMap" description="Admin SiteMap provider" type="System.Web.XmlSiteMapProvider" siteMapFile="/FinalProj/MaintMap.sitemap"/>
      </providers>
    </siteMap>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="">
        <network host="smtp.gmail.com" password="lizard18" userName="axemred16@gmail.com" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>