<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <siteMap>
      <providers>
        <add name="ShoppingSiteMap" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider" siteMapFile="/FinalProj/ShoppingMap.sitemap" />
        <add name="MaintSiteMap" description="Admin SiteMap provider" type="System.Web.XmlSiteMapProvider" siteMapFile="/FinalProj/MaintMap.sitemap"/>
      </providers>
    </siteMap>
  </system.web>
</configuration>