body {
}

.button {
    border:solid;
    border-color:blue;
    background-color:aqua;
    font-weight:bold;
    padding:.5em;
}

.textbox {
    border:solid;
    border-color:aqua;
}

.dropdownlist {
    border:solid;
    border-color:aqua;
}

.listbox {
    border:solid;
    border-color:aqua;
}

.label {
    font-family:sans-serif;
    font-size:larger;
}

.validator {
    font-weight:bold;
    color: aqua;
    font-size:small;
}